html {
    font-size: 90%;
}
body{
    font-family: "Open Sans";
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.5rem;
    color: #b2bdbd;
    background-color: #2d2d39;
    min-height: 100vh;
    @import "App";
}
