html {
    font-size: 90%;
}
body{
    font-family: "Open Sans";
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.5rem;
    color: #b2bdbd;
    background-color: #191930;
    min-height: 100vh;
    @import "App";
}

.container {
    max-width: 120rem;
    width: 100%;
    margin: auto;
}
.btn {
    background-color: rgb(96, 95, 95);
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.btn--link {
    border-radius: 0;
    padding: 0;
    color: #71c6dd;
    box-shadow: none;
}

.btn--link:hover {
    text-decoration: underline;
}

.btn:hover {
    opacity: 0.9;
}

.btn--dark {
    background-color: #696d97;
    color: #e5e5e5;
}

.btn>svg {
    fill: currentColor;
    width: 1.6rem;
    height: 1.6rem;
}

.btn--pill {
    border-radius: 10rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 6px 2.5rem;
    color: #71c6dd;
    background: transparent;
    border: 2px solid #71c6dd;
}

.action-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
